section > span{
    color:gray;
}

.computerinfo{
    border:1px solid gray;
    overflow-x:auto;
}
.computerinfo > img{
    width:100%;
    height:auto;
}

.computerinfo > div{
    display:flex;
    flex-direction:column;
    width:100%;
    gap:5px;
}

.computerinfo > div > h3{
    color:red;
    font-size:3rem;
}


.computerinfo > div > a{
    background-color:var(--header-color);
    color:white;
    padding:15px;
    width:max-content;
    border:none;
    border-radius:50px;
    box-shadow: none;
    font-size:1.3rem;
    margin-block-start:20px;
}
.computerinfo > div > a:hover{
    background-color:black;
    cursor:pointer;
}



@media screen and (min-width:768px){
    .computerinfo{
        display:flex;
        flex-direction:row;
    }
}





.computerinfo table{
  width: 100%;
  max-width: 400px;
  height: 240px;
  display: block;
  border-spacing: 0;
}

.computerinfo th,
.computerinfo td {
  border: 1px solid;
  padding: 5px 10px;
  border-block-start-width: 0;
  border-inline-start-width: 0;
  font-weight:bold;
}

.computerinfo th {
  position: sticky;
  top: 0;
  background: #fff;
  vertical-align: bottom;
}

.computerinfo th:last-child,
.computerinfo td:last-child {
  border-inline-end-width: 0;
  font-weight:initial;
}

.computerinfo tr:last-child td {
  border-block-end-width: 0;
}
